/* FONT FACES */
@font-face {
    font-family: Logo-font;
    src: url("assets/fonts/JosefinSans-SemiBold.ttf");
}

@font-face {
    font-family: LF-Normal;
    src: url("assets/fonts/LibreFranklin-Medium.ttf");
}

@font-face {
    font-family: LF-Bold;
    src: url("assets/fonts/LibreFranklin-Bold.ttf");
}

/* ROOT */
:root {
    --header: rgb(149, 149, 146);
    --bg: #F0F0ED;
    --strike: #B6B29D;
    --normal: 'LF-normal', sans-serif;
    --bold: 'LF-Bold', sans-serif;
}

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* PARENT */
.container {
    background-color: var(--bg);
    display:grid;
    height: 100vh;
    grid-template-rows: 10vh 8fr 3.5vh;
    margin:0 0 0 0;
    padding:0 0 0 0;
}

/* HEADER */
.header {
    background-color: var(--header);
    display:grid;
    grid-template-columns: 0.15fr 1fr 0.3fr;
    align-items:center;
    grid-auto-flow: column;
    border-bottom: 1px dotted black;
}

/* LOGO */
.header img {
    width:40px;
    justify-self:end;
    padding-bottom:10px;
}

.logo-text {
    font-size:48px;
    font-family: 'Logo-font', sans-serif;
    padding-left:10px;
    justify-self:start;
    z-index:3;
}

.header p u {
    text-decoration-color: var(--strike); /* Replace with your desired color */
    z-index:2;
}

/* ADD BUTTON */
.add-book {
    font-family: var(--normal);
    font-size: 22px;
    padding: 10px 20px;
    border-radius:8px;
    background-color: var(--bg);
    align-self: center;
    justify-self: start;
}

/* DIALOG */
dialog {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width:420px;
    height:398px;
    font-family:var(--normal);
    border:2px solid grey;
    border-radius:10px;
    background-color: var(--bg);
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}

dialog[open] {
    -webkit-animation: show 0.3s ease normal;
}
@-webkit-keyframes show {
    from {
        transform: translate(-50%, -100%);
    }
    to {
        transform: translate(-50%, -50%);
    }
}

.close-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-bottom:0px;
    padding-top:6px;
    padding-left:368px;
}

/* FORM */
form {
    display:grid;
    gap:16px;
    place-items:center;
}

input {
    font-family:var(--normal);
    padding-left:10px;
    width: calc(100% - 48px);
    height: 32px;
    font-size:20px;
    background-color: whitye;
    border-radius:8px;
    border:1px solid grey;
}

input::placeholder {
    font-family:var(--normal);
}

.input:focus {
    outline:none;
}

.input::placeholder {
    padding-left:2px;
    color: black;
    opacity: 0.5;
}

.form-header {
    padding-left:20px;
    place-self:center;
    font-family:var(--bold);
    font-size:26px;
}

/* CHECKBOX */
.checkbox-form {
    display:grid;
    grid-template-columns: 3fr 1.5fr;
    align-items:center;
    width:100%
}

.checkbox-form label {
    font-size:19px;
    justify-self:end;
}

.submit {
    background-color: var(--header);
    width:122px;
    font-family:var(--bold);
    border: none;
    border-radius:5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

/* CARD CONTAINER */
.card-container {
    padding: 4vh 10vh 2vh 10vh;
    background-color: var(--bg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 32px;
    place-items:center;
}

.card {
    background-color: #FBFBFB;
    box-shadow: 0px 0px 10px rgba(149, 149, 146, 0.6); 
    padding:16px;
    text-align:center;
    display:grid;
    grid-gap:6px;
    font-family:var(--normal);
    font-size:19px;
    width: 310px;
    height:290px;
    border-radius:10px;
    border:3px solid var(--header);
    place-items:center;
}

.card .title {
    font-family:var(--bold);
}

.status-toggle, .remove-book {
    width:122px;
    font-family:var(--bold);
    border: none;
    border-radius:5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.status-toggle {
    background-color: #85b582;
}

.remove-book {
    background-color: #be615f;
}

/* FOOTER */
.footer {
    font-family:var(--normal);
    text-align:center;
    font-size:18px;
    padding-bottom:5px;
    background-color: var(--bg); /* Replace with your color variable */
    height: 3.5vh; /* Adjust as needed */
    width: 100%;
}

a:hover {
    text-decoration: underline;
    font-family:var(--bold);
}